__pycache__/
.ipynb_checkpoints/
documents/
data/
log_files/
plots/
results/
jatos/

.Rhistory

requirements.txt

.Rproj.user
.venv/
R/prolific-payment.R
R/utils-private.R
experiments/questionnaire-setup/
